body {
	    margin: 0;
	    padding: 0;
	    display: flex;
	    height: 100vh;
	    justify-content: center;
	    align-items: center;
	    background-color: #000;
	    font-family: sans-serif;
		}


a {
	padding: 20px 20px;
	display: inline-block;
	color: #0e92da;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 3em;
	overflow: hidden;
}




a:hover {
	   color: #111;
	    background: #0888cd;
	    box-shadow: 0 0 50px #0575bf;
            border-radius: 50px;
}


